#search {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  form {
    width: 75%;
  }

  input[type='text'] {
    padding: .8rem;
    border: none;
    border-top-left-radius: .7rem;
    border-bottom-left-radius: .7rem;
    width: 50%;
  }

  input::placeholder {
    font-family: Lexend Mega;
  }

  input:focus {
    outline: none;
  }

  button {
    padding: .8rem;
    color: #fff;
    font-weight: 900;
    background-color: #000;
    border: none;
    border-top-right-radius: .7rem;
    border-bottom-right-radius: .7rem;
  }

  button:focus {
    outline: none;
  }
}