#search {
  display: flex;
  justify-content: center;
  align-items: center;

  input[type='text'] {
    padding: .8rem;
    border-top-left-radius: .7rem;
    border-bottom-left-radius: .7rem;
    width: 50%;
  }

  button {
    height: 100%;
    padding: .8rem;
    background-color: #000;
    border-top-right-radius: .7rem;
    border-bottom-right-radius: .7rem;
  }
}